body, #hAT-root-view {
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#hAT-root-view {
    background-color: black;
}

#hAT-content-view {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

#hAT-hack-view,
#hAT-date-view {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-variant: small-caps;
}

#hAT-hack-view {
    top: 15%;
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    margin-top: -50px;
    animation: blurZoomIn 1.0s ease-in backwards;
}

#hAT-date-view {
  bottom: 20%;
  font-size: 20px;
  line-height: 20px;
}

#hAT-apple-container {
    position: absolute;
    width: 208px;
    height: 198px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hAT-apple-view {
  background: url("https://a1garcia.github.io/rickroll.gif");
/*  background: linear-gradient(#5bc236, #308014, #006400);
  width: 208px;
  height: 198px;
  position: absolute;
  border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;
  animation: blurFadeIn 1.0s ease-in backwards;*/
}

#hAT-apple-view:before {
  background: url("https://a1garcia.github.io/rickroll.gif");
/*  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  margin: -51px 0 0 100px;
  border-radius: 100px 0;
  z-index: 5;*/
}

#hAT-apple-view:after {
  background: url("https://a1garcia.github.io/rickroll.gif");
/*  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 28px 0 0 174px;
  border-radius: 50%;
  transform: rotate (-53deg);
  z-index: 4;
  box-shadow: -127px -109.5px 0 black, -118px -107px 0 black, -115.5px -102.5px 0 black, -105.5px -109.5px 0 black, -105px -109.5px 0 black, -129px 166px 0 black, -107.5px 166px 0 black, -119px 161px 0 black;*/
}

@keyframes blurFadeIn {
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(5.0);
    }
    100%{
         opacity: 1;
         text-shadow: 0px 0px 1px #fff;
         transform: scale(1);
    }
}

@keyframes blurZoomIn {
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(0);
    }
    100%{
         opacity: 1;
         text-shadow: 0px 0px 1px #fff;
         transform: scale(1);
    }
}
